.button {
  display: inline-block;
  padding: 8px 24px;
  background-color: var(--color-primary);
  border-radius: 8px;
  color: var(--color-white);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  border: none;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-quatenary);
      color: var(--color-primary);
    }
  }

  &--secondary {
    background-color: var(--color-secondary);

    @media (hover: hover) {
      &:hover {
        color: var(--color-secondary);
      }
    }
  }

  &--danger {
    background-color: var(--color-danger);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-danger);
        color: var(--color-white);
      }
    }
  }

  &--circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 12px 15px;
  }

  &--play {
    padding: 12px 13px 12px 17px;
  }

  &__icon {
    font-size: 16px;

    &--lg {
      font-size: 18px;
    }

    &.icon-star {
      vertical-align: middle;
      margin-left: 6px;
    }
  }
}
