:root {
  --color-primary: #13304a;
  --color-secondary: #076d59;
  --color-tertiary: #37b971;
  --color-quatenary: #e9ece7;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-content: #222222;
  --color-danger: #9f0000;
  --font-family: "Inter", sans-serif;
  --font-size-h1: 48px;
  --font-size-h2: 38px;
  --font-size-h3: 32px;
  --font-size-h4: 28px;
  --font-size-h5: 24px;
  --font-size-h6: 18px;
  --font-size-text: 16px;
  --font-size-text-sm: 13.33px;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --line-height-heading: 1.1;
  --line-height-text: 1.4;
}
